<div class="parallax-container">
  <div class="parallax"></div>
  <app-nav-bar></app-nav-bar>
  <div class="container p-0 m-0 parallax-text">
    <h1>A totally real website for buying home's.</h1>
  </div>
  <div>
    <form class="search-bar d-flex" role="search">
      <input class="form-control me-2 rounded-input" type="search" placeholder="Address, School, City, Zip or Neighborhood" aria-label="Search">
      <button class="btn bg-dark btn-outline-success rounded-button" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container-fluid px-5">
  <app-property-list></app-property-list>
</div>