html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  .parallax-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .parallax {
    background-image: url('/assets/images/neighborhood1.avif');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130%;
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
    will-change: transform;
  }

  .parallax-text {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 999;
    padding-top: 0px;
    margin-top: 0px;
  }

  .parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
  }

  .parallax-text h1 {
    font-size: 3.5rem;
    margin: 0;
  }
  
  .content {
    height: 3000px;
    background-color: #fff;
    padding: 20px;
  }

  .search-bar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1001;
    width: 60%;
  }

  .search-bar .form-control {
    flex-grow: 1;
  }
  
  .search-bar .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #31c1ff;
    color: #717376;
  }
  
  .search-bar .btn:hover {
    border-color: #343a40;
  }
  
  .search-bar .btn mat-icon {
    font-size: inherit + 1em;
  }

  .rounded-input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .rounded-button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 70px;
    outline: 10px;
  }

  @media (min-width: 1200px) {
    .search-bar {
      width: 40%;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .parallax {
      height: 100%;
    }
    .parallax-container {
      height: 460px;
    }
    .parallax-text {
        top: 200px;
    }
    .search-bar {
      width: 50%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .parallax {
      height: 90%;
    }
    .parallax-container {
      height: 460px;
    }
    .parallax-text {
        top: 170px;
    }
    .search-bar {
      width: 50%;
    }
  }
  
  @media (max-width: 767.98px) {
    .parallax {
        height: 80%;
      }
    .parallax-container {
      height: 450px;
    }
    .parallax-text {
        top: 170px;
    }
  }
  
  @media (max-width: 575.98px) {
    .parallax-container {
      height: 370px;
    }
    .parallax-text {
        top: 135px;
    }
    .parallax-text h1 {
        font-size: 2rem;
    }
    .search-bar {
        width: 100%;
        top: 60%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .rounded-button {
        font-size: 13px;
    }
  }