  @keyframes transition-topIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .navbar {
    z-index: 1000;
  }

  .navbar .navbar-collapse {
    margin-top: 4px;
    width: 100% !important;
  }

  .navbar .dropdown-menu {
    background-color: #ffffff;
    z-index: 1001;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
  .search-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 4px 0;
    z-index: 999;
    display: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .search-bar.animate {
    animation: transition-topIn 0.3s ease-in-out;
  }

  .button-container {
    padding-bottom: 3px;
    padding-top: 0px;
    margin: 0px;
  }

  .form-control {
    border-radius: 20px;
  }

  .rounded-input {
    border-radius: 20px;
  }

  .rounded-button {
    border-radius: 20px;
  }

  .navbar-nav .nav-link img {
    width: 30px;
    height: 30px;
  }
  
  .modal-header .btn-close {
    margin: -1rem -1rem -1rem auto;
    margin-right: 10px;
  }

  #loginModal .modal-content {
    border-radius: 10px;
    overflow: hidden;
  }
  
  #loginModal .modal-header {
    background-color: rgba(14, 109, 186, 0.854);
    color: rgb(255, 255, 255);
    border-bottom: none;
    padding: 20px;
  }
  
  #loginModal .modal-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  #loginModal .btn-close {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
  }
  
  #loginModal .modal-body {
    padding: 30px;
    border-radius: 10%;
  }
  
  #loginModal .form-label {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.854);
  }
  
  #loginModal .form-control {
    border: 1px solid rgba(67, 62, 62, 0.854);
    border-radius: 200px;
    height: 50px;
  }
  
  #loginModal .btn-primary {
    background-color: rgba(38, 128, 201, 0.854);
    font-size: 1rem;
    border-radius: 50px;
    height: 50px;
    transition: background-color 0.3s ease;
  }
  
  #loginModal .btn-primary:hover {
    background-color: rgba(38, 128, 201, 1);
  }
  
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -50%);
  }
  
  .modal.show .modal-dialog {
    transform: translate(0, 0);
  }