<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">Home's</a>
    
    <button class="navbar-toggler order-1 order-lg-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/buy">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/rent">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/sell">Sell</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ms-auto order-2 order-lg-3">
      <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
          <img src="assets/images/login_logo.png" alt="Login" style="width: 30px; height: 30px;">
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login or create an account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form (ngSubmit)="onLoginSubmit(loginForm)" #loginForm="ngForm">

          <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel required email>
            <div *ngIf="formSubmitted && loginForm.controls['email']?.invalid" class="text-danger">
              <div *ngIf="loginForm.controls['email']?.errors?.['required']">Email is required.</div>
              <div *ngIf="loginForm.controls['email']?.errors?.['email']">Invalid email address.</div>
            </div>
          </div>

          <div class="mb-5">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel required minlength="6" #password="ngModel">
            <div *ngIf="formSubmitted && password.invalid" class="text-danger">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
              <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters long.</div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary w-50" [disabled]="!loginForm.valid">Login</button>
          </div>
        
        </form>

      </div>
    </div>
  </div>
</div>


<div class="search-bar animate" id="searchBar">
  <div class="container position-relative">
    <div class="button-container d-flex justify-content-center">
      <button [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/buy" class="btn mx-1">Buy</button>
      <button [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/rent" class="btn mx-1">Rent</button>
      <button [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/sell" class="btn mx-1">Sell</button>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Address, School, City, Zip or Neighborhood" aria-label="Search">
      <button class="btn btn-outline-success rounded-button" type="submit">Search</button>
    </form>
  </div>
</div>